@model ResetPasswordVM
@{
    ViewData["Title"] = "ResetPassword";
}

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Reset Password</h4>
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <form class="form-sample" method="post">
                <div class="form-group">
                    <label asp-for="Password">Password</label>
                    <input asp-for="Password" class="form-control"  type="password" placeholder="Password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CheckPassword">CheckPassword</label>
                    <input asp-for="CheckPassword" class="form-control" type="password" placeholder="CheckPassword">
                    <span asp-validation-for="CheckPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary mr-2" >Change</button>
                <a asp-action="Index" class="btn btn-danger">Cancel</a>
            </form>
        </div>
    </div>
</div>

